<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Compare Preços</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	</head>
	<body class="bg-dark">
		<section class="container-fluid bg-light">
			<br />
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="/">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/modifier">Adicionar / Modificar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">Sobre</a>
				</li>
			</ul>
			<br />
			<section id="pages">
				<table class="table table-striped">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">Produto</th>
						<th scope="col">BomDia</th>
						<th scope="col">Queiroz</th>
					  </tr>
					</thead>
					<tbody class="tbody"></tbody>
				  </table>
				  <div class="spinner d-flex justify-content-center">
					<div class="spinner-border" role="status">
					  <span class="visually-hidden">Loading...</span>
					</div>
				  </div>
				  <br />
			</section>
		</section>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="text/javascript"defer>
	fetch("json/")
    .then((response)=>{
        if(response.ok){
           return response.json();
        };
    }).then((data)=>{
        data = data.sort((a,b)=>{
            if(a.name > b.name){
                return 1;
            }
            if(a.name < b.name){
                return -1;
            } return 0
        });
        tablePopulate(data);
    });
	function tablePopulate(data){
	document.querySelector(".spinner").innerHTML="";
    for(row in data){
		a = data[row].name.slice(0,1);
        a = a.toUpperCase();
        b = data[row].name.slice(1);
        data[row].name = a+b;
        let {name, bomdia, queiroz, date} = data[row];
        if(bomdia < queiroz){
            bdspan = `<span class="btn btn-success">${currencyBRL(bomdia)}</span>`;
            qzspan = `<span class="btn btn-danger">${currencyBRL(queiroz)}</span>`;}
        if(bomdia > queiroz){
            bdspan = `<span class="btn btn-danger">${currencyBRL(bomdia)}</span>`;
            qzspan = `<span class="btn btn-success">${currencyBRL(queiroz)}</span>`;}
        if(bomdia == queiroz || bomdia < 0.10 || queiroz < 0.10){
            bdspan = `<span class="btn btn-secondary">${currencyBRL(bomdia)}</span>`;
            qzspan = `<span class="btn btn-secondary">${currencyBRL(queiroz)}</span>`;}
        document.querySelector("tbody").innerHTML+=`<tr><th scope="row">${row}</th><td>${name}</td><td>${bdspan}</td><td>${qzspan}</td></tr>`;
    }
}
const currencyBRL = (value) => {
    const formattedValue = value.toLocaleString(
      'pt-BR', 
      { style: 'currency', currency: 'BRL'}
    );
  
      return formattedValue;
  };
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SC2MKPZJ39"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SC2MKPZJ39');
</script>
</html>