<div class="form-check form-switch">
	<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="checkbox()">
	<label class="form-check-label" for="flexSwitchCheckChecked">Atualizar produto.</label>
</div>
<div id="form">
<input  class="form-control produto " placeholder="Digite o Nome do Produto!">
<select name="name" class="form-select " style="display:none;" aria-label="selectUpdate"></select>
<br />
<div class="input-group mb-3">
	<span class="input-group-text">BomDia:</span>
	<input type="number" min="0" class="form-control bomdia" name="bomdia" aria-label="Preço no BomDia" step="0.01" placeholder="0" value=0>
	<span class="input-group-text">Queiroz:</span>
	<input type="number" min="0" class="form-control queiroz" name="queiroz" aria-label="Preço no Queiroz" step="0.01" placeholder="0" value="0">
</div>
<div class="d-grid gap-2">
	<button class="btn btn-primary" type="submit" >Cadastrar Produto</button>
</div></div>
<br />