<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Compare Preços - Adicionar Novos Produtos</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/public/default.css" />
	</head>
	<body>
		<div class="container" >
			<br /> <!-- MENU NAV BAR -->
			<ul class="nav nav-tabs " role="navigation">
			  <li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/additem">Adicionar Produtos</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/simulation">Simular Compra</a>
			  </li>
			</ul>
			<br /> <!-- MENU NAV BAR -->
			<label for="compareProdutos" class="form-label">Adicionar Produtos</label>
				<input class="form-control produto" placeholder="Digite o Nome do Produto!" required>
			<br />
			<div class="input-group mb-3">
				<span class="input-group-text">BomDia:</span>
				<input type="number" min="0" class="form-control bomdia" aria-label="Preço no BomDia" step="0.01" placeholder="0" value=0>
				<span class="input-group-text">Queiroz:</span>
				<input type="number" min="0" class="form-control queiroz" aria-label="Preço no Queiroz" step="0.01" placeholder="0" value="0">
			</div>
			<div class="d-grid gap-2">
				<button class="btn btn-primary" type="submit" disabled>Cadastrar Produto</button>
			</div>
			<br />
		</div>
	</body>
	<script type="text/javascript">
		const button = document.querySelector("button[type='submit']");
		var bomdia = document.querySelector(".bomdia");
		var queiroz = document.querySelector(".queiroz");
		var produto = document.querySelector(".produto");
		var arrinpt = [produto, queiroz, bomdia];
		for(row in arrinpt){
			arrinpt[row].addEventListener("change", (e)=>{
				bomdiaInt = parseFloat(bomdia.value.replace(",","."));
				queirozInt = parseFloat(queiroz.value.replace(",","."));
				
				if(produto.value.length >= 8){
					if(queirozInt >= 0.09 || bomdiaInt >= 0.09){
						button.disabled = false;
					} else {
						button.disabled = true;
					}
				} else {
					button.disabled = true;
				}
				
				console.log(`${produto.value.length}, ${queirozInt}, ${bomdiaInt}`)
			});
		};
		button.addEventListener("click", () =>{
			if(confirm(`Cadastrar:${produto.value} \nBomdia:${bomdia.value} \nQueiroz:${queiroz.value}`)){
				console.log("yeps")
			} else alert("Por favor Preencha os campos corretamente.!");
		});
	</script>
</html>